/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */

// Font stacks
$font-family-sans:   "Open Sans";
$font-family-serif:  "Georgia";
$font-family-gothic: "Hiragino Kaku Gothic ProN", "Meiryo";
$font-family-mincho: "Hiragino Mincho ProN", "Yu Mincho", "游明朝";
$font-family-mono:   "Ubuntu Mono", "Menlo", "Consolas";
$font-family-jp:     "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", "Meiryo";
